.vertical-align-items {
    display: flex;
    align-items: center;
}

h1.title {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0px;
}

.multiple-rows {
    margin-bottom: 5px;
}

#suggest-btn {
    float: none;
    margin: 20px auto;
}

.side-box {
    padding: 0px 15px;
    margin-top: 30px;
}

.side-box-title {
    font-weight: bold;
    padding: 15px 0px;
}

.confirm-align {
    text-align: left;

}

.alignCells-borderless-top tr, .alignCells-borderless-top td {
    text-align: center;
    vertical-align: center !important;
    border-top: none !important;
}

.ui-dialog.blue-title-bar > .ui-widget-header {
    background: #00CC00;
}

.button-margin {
    margin: 40px 10px 20px 10px;
}

#extension-submit {    
    display: none;
}

#suggest-footer button {
    margin: 0 10px 20px 10px;
}
