html {
    overflow-y: scroll;
    height: 100%;
}

body {
    background-color: #f6f6f6 !important;
    height: 100%;
}

.body-content {
    min-height: 100%;
    position: relative;
}

.content {
    padding-bottom: 45px;
}

body .popover {
    width: 300px;
    max-width: 300px;
}

div,
span {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 15px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nodisplay {
    display: none;
}

.flex-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.flex-container.vertical-align {
    justify-content: center;
    flex-flow: column;
}

.flex-container .flex-expand {
    flex-grow: 1;
}

.flex-container.space-between {
    justify-content: space-between;
}

.box {
    border-radius: 5px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid #e7e7e7;
    background-color: #f8f8f8;
}

.box .box-header {
    font-weight: bold;
    border-bottom: 1px solid #e7e7e7;
    margin: -30px;
    padding: 15px;
    padding-left: 30px;
    margin-bottom: 30px;
    background-color: #F0F0F0;
}

.box .box-footer {
    border-top: 1px solid #e7e7e7;
    margin: -30px;
    padding: 15px;
    padding-left: 30px;
    margin-top: 30px;
}

.index-search {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e7e7e7;
    border-top: 0;
    border-radius: 3px;
    margin-bottom: 10px;
}

.index-search label,
.index-search button {
    margin: 0px 10px;
}

.hor-separator {
    width: 60%;
}

#footer-nav {
    border: 1px solid #e7e7e7;
    background-color: #f8f8f8;
}

#footer-nav div {
    text-align: center;
    padding: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 45px;
    width: 100%;
}

ol.breadcrumb {
    margin-bottom: 10px;
    background-color: transparent;
}

.spacing-top {
    margin-top: 25px;
}

.spacing-top-large {
    margin-top: 80px;
}

.modal {
  overflow-y: auto;
}

.modal-open {
  overflow: auto;
}

.modal-open[style] {
  padding-right: 0px !important;
}

.modal-body .form-group.has-feedback .form-control-feedback {
    top: 30px;
}

.form-group.has-feedback.has-success .glyphicon-check {
    display: block;
}

.form-group.has-feedback.has-success .glyphicon-remove {
    display: none;
}

.form-group.has-feedback.has-error .glyphicon-check {
    display: none;
}

.form-group.has-feedback.has-error .glyphicon-remove {
    display: block;
}

.tooltip-inner {
    width: 350px;
}

.tooltip > .tooltip-inner {
    color: #FFFFFF;
    padding: 10px;
    font-size: 14px;
}

.info-tooltip + .tooltip > .tooltip-inner {
    background-color: #0066FF;
}

.info-tooltip + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #0066FF;
}

.danger-tooltip + .tooltip > .tooltip-inner {
    background-color: #A00000;
}

.danger-tooltip + .tooltip.right .tooltip-arrow {
    border-right-color: #A00000;
}

.danger-tooltip + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #A00000;
}

.search-result {
    padding-top: 15px;
    padding-bottom: 15px;
}

.search-result:nth-child(even) {
    background-color: #efefef;
}

.headline-text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.big-text {
    font-size: 18px;
}

.bold {
    font-weight: bold;
}

.thumbnail-img {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 4px;
    margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */
